@charset "UTF-8";
/* CSS Document */


body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #b7b7b7 url(../img/bg_logo.gif) no-repeat fixed 90% 90%;
}

#mainCtn {
	padding: 25px;
	background: url(../img/bg_sep.gif) repeat-y 250px;
}

h1, h2, h3, h4, h5 , h6 {
	margin: 0;
}

h1 {
	font-size: 18px;
	margin: 8px 0 4px 0;
	color: #888;
}

h2 {
	font-size: 14px;
	margin: 6px 0 2px 0;
	color: #fff;
}

a {
	color: #444;
	text-decoration: none;
	padding: 6px;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

img {
	border: 0;
}

.currentLink {
	background: #444;
	padding: 12px !important;
	/*border: 1px solid #222;*/
	color: #fff;
}

.swfLink, .siteLink {
	display: block;
	padding: 6px;
}

#siteFrameBreak, #swfFrameClose, #siteFrameBreak:hover, #swfFrameClose:hover {
	cursor: pointer;
	text-decoration: none;
}

body#screens {
	background: #444;
}

body#screens img {
	display: block;
	margin: 16px;
}